# Byte-compiled / optimised
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Environment files
.env
.env.local
.env.*.local




# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
