databricks-sdk==0.102.0
databricks-sql-connector[pyarrow]==4.2.5
fastapi[standard]==0.115.12
fastapi-cli==0.0.7
APScheduler==3.11.0
requests==2.32.5
SQLAlchemy==2.0.43
asyncpg==0.30.0
python-dotenv==1.0.0
greenlet==3.2.4
aiocache==0.12.3
altair[save]==6.0.0
chevron==0.14.0
markdown2==2.5.5
sendgrid==6.12.5
css-inline==0.20.1
